.expansion-display {
  display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.expansion-viewport {
  height: 90%;
  text-align: -webkit-center;
}

.expansion-viewport::-webkit-scrollbar{
  display: none;
}

.adjust-width {
  width: 95%;
}

.add-margin-bottom {
  margin-bottom: 5px;
}