<mat-accordion>
    <!-- Header -->
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Phrasal Verbs
        </mat-panel-title>
        <mat-panel-description>
          In alphabetical order
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>A list of phrasal verbs in alphabetical order</p>
    </mat-expansion-panel>

    <!-- Elements -->
    <mat-expansion-panel 
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      *ngFor="let item of abc">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item}}
        </mat-panel-title>
        <mat-panel-description>
          Phrasal Verbs with {{item}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p *ngFor="let phrasalVerb of getVerbs(item)">{{phrasalVerb.verb}} {{phrasalVerb.firstPrep}} {{phrasalVerb.secondPrep}}</p>
    </mat-expansion-panel>
</mat-accordion>
  